.TrainMarker {
    width: 26px;
    padding: 2px;
    background: #cacaca;
    transform: translate(-50%, -15px);
}

.TrainMarker_active {
    background: #aaaaff;
}

.TrainMarker_interactive {
    cursor: pointer;
}
